[submodule "ext/CLI"]
	path = ext/CLI
	url = https://github.com/Seng3694/CLI
[submodule "ext/Catch2"]
	path = ext/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "ext/dirent"]
	path = ext/dirent
	url = https://github.com/tronkko/dirent

[submodule "ext/lua"]
	path = ext/lua
	url = https://github.com/lua/lua
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json
